/* googel fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body , html {
    overflow-x: hidden;
}

/* Nav bar  */
.navBar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
    background-color: rgb(35, 31, 31);
}

ul {
    list-style: none;
}

.navLinks {
    display: flex;
    align-items: center;
}

.navLinks li {
    margin: 0 30px;

}

.active {
    color: #fc036b;
    font-weight: bold;
    text-decoration: underline;
}

.ctn {
    padding: 8px 15px;
    background-color: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}

.manuBtn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 10px;
    display: none;
}


/*  for mobile device */
@media only screen and (max-width:850px) {
    .manuBtn {
        display: block;
    }

    .navBar {
        padding: 0;
    }

    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .navLinks {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: #484872;
        margin-top: -900px;
        cursor: pointer;
        transition: 0.5s ease;
    }

    .mobile-manu {
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }

    .navLinks li {
        margin: 30px auto;
    }
}






/* screen text  */
a {
    text-decoration: none;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url("assets/bg5.jpg");
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content {
    padding-bottom: 100px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
}


.header-content .line {
    width: 150px;
    height: 5px;
    background: #fc036b;
    margin: 10px auto;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 40px;
    margin-bottom: 30px;
}

.header-content .ctn {
    padding: 8px 15px;
    background-color: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}



/* events styling */
section {
    width: 80%;
    margin: 80px;


}

.title {
text-align: center;
font-size: 4vmin;
color: #49497e;
}
.line{
    width: 150px;
    height: 5px;
    background: #fc036b;
    margin: 10px auto;
}

.row{
    display:flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col{
   display: flex;
   flex-direction: column;
   align-items: center; 
}
.events .row{
    margin-top: 50px;
}
h4{
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}
p{
    color: #7c7c7c;
    padding: 0 90px;
}
.events .ctn{
    margin-top: 30px;
}